/* Reference for .glassmorphism: https://glassmorphism.com/ */
.glassmorphism {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.20 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
}

.glassmorphism-dropdown {
    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
}

.glassmorphism-header {
    background: rgba( 0, 26, 82, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
}

.glassmorphism-footer {
    background: rgba( 0, 26, 82, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
}